<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>MIND GT - Login</title>
  <%= stylesheet_link_tag 'LoginStyle', :media => 'screen' %>
  <%= csrf_meta_tags %>  
</head>

<body>
<div class= "login-card">
<img src="http://mindhub.mx/wp-content/uploads/2014/11/mindWhite.png" />
<div id="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field"><span class="fontawesome-user"></span>
    <%= f.email_field :email, :id => 'email', :value => 'email', :onBlur => "if(this.value == '') this.value = 'email'", :onFocus => "if(this.value == 'email') this.value = ''"  %>
  </div>

  <div class="field"> <span class="fontawesome-lock"></span>
    <%= f.password_field :password, autocomplete: "off", :value => 'password', :onBlur => "if(this.value == '') this.value = 'password'", :onFocus => "if(this.value == 'password') this.value = ''" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", autofocus: true %>
  </div>

  <center><p>All rights reserved.</p></center>

  <!-- Code to remember LogIn Info -->
  <% if devise_mapping.rememberable? -%>
    <div class="field">
    </div>
  <% end -%>

  <% end %>
</div>
</div>
  </body>
</html>

